* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.container {
  width: 90%;
  max-width: 1082px;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
}

.container .header, .container .footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  padding-bottom: 10px;
  padding-top: 10px;
}
.container .header .titulo, .container .footer .titulo, .container .footer .h2-portafolio {
  font-family: helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase;
}
.container .header nav, .container .footer nav {
  width: 100%;
  margin: 0px auto;
  margin-top: 10px;
}
.container .header nav ul, .container .footer nav ul {
  width: 95%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.container .header nav ul li a, .container .footer nav ul li a {
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #444;
}
.container .header nav ul li a:hover, .container .footer nav ul li a:hover {
  background-color: #b8b7b7;
  color: white;
  border-radius: 5px;
}

@media (min-width: 750px) {
  .container .header, .container .footer {
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: inherit;
    padding: 10px;
  }
  .container .header nav, .container .footer nav {
    width: 405px;
    margin: 0px;
  }
  .container .header nav ul li, .container .footer nav ul li {
    margin-left: 10px;
  }
  .container .header nav ul li a, .container .footer nav ul li a {
    font-size: 18px;
  }
}
.container .main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 750px) {
  .container .main {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
  }
}
.container .main .aside {
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}
.container .main .aside p, .container .main .aside .container-imgs .box a, .container .main .container-imgs .box .aside a {
  font-size: 18px;
  font-weight: 100;
  color: #444;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  padding-bottom: 10px;
}
.container .main .aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.container .main .aside ul .aside-element {
  margin: 0px auto;
  width: 100px;
  margin-top: 10px;
  transition: all 300ms;
}
.container .main .aside ul .aside-element:hover {
  background-color: #444;
}
.container .main .aside ul .aside-element .a-aside-alement {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  transition: all 300ms;
}
.container .main .aside ul .aside-element .a-aside-alement:hover {
  color: #eee;
}

@media (min-width: 750px) {
  .container .main .aside {
    width: 30%;
    padding-top: initial;
  }
  .container .main .aside ul .aside-element {
    height: 50px;
    line-height: 50px;
  }
}
@media (min-width: 1200px) {
  .container .main .aside {
    width: 20%;
  }
}
.container .main .container-imgs {
  max-width: 900px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container .main .container-imgs .box {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 15px;
  text-align: left;
  padding-bottom: 5px;
  border: 1px solid #ccc;
}
.container .main .container-imgs .box img {
  width: 100%;
}
.container .main .container-imgs .box p, .container .main .container-imgs .box a {
  padding: 10px;
  padding-bottom: 0px;
}
.container .main .container-imgs .box a {
  text-decoration: none;
  color: grey;
  transition: all 300ms;
}
.container .main .container-imgs .box a:hover {
  color: green;
}

@media (min-width: 750px) {
  .container .main .container-imgs {
    flex-direction: row;
    padding-top: initial;
    width: 100%;
  }
  .container .main .container-imgs .box {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .container .main .container-imgs .box {
    width: 200px;
  }
}
.container .header, .container .footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  padding-bottom: 10px;
  padding-top: 10px;
}
.container .header .titulo, .container .footer .titulo, .container .footer .h2-portafolio {
  font-family: helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase;
}
.container .header nav, .container .footer nav {
  width: 100%;
  margin: 0px auto;
  margin-top: 10px;
}
.container .header nav ul, .container .footer nav ul {
  width: 95%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.container .header nav ul li a, .container .footer nav ul li a {
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #444;
}
.container .header nav ul li a:hover, .container .footer nav ul li a:hover {
  background-color: #b8b7b7;
  color: white;
  border-radius: 5px;
}

@media (min-width: 750px) {
  .container .header, .container .footer {
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: inherit;
    padding: 10px;
  }
  .container .header nav, .container .footer nav {
    width: 405px;
    margin: 0px;
  }
  .container .header nav ul li, .container .footer nav ul li {
    margin-left: 10px;
  }
  .container .header nav ul li a, .container .footer nav ul li a {
    font-size: 18px;
  }
}
.container .footer .h2-portafolio {
  opacity: 0.5;
}
.container .footer .author {
  margin-top: 10px;
}

@media (min-width: 750px) {
  .container .footer .author {
    margin: 0px;
  }
}

/*# sourceMappingURL=modulos.css.map */
