.container{
    .main{
        .container-imgs{
            max-width:900px;
            padding-top:20px;
            display:flex;
            flex-direction:column;
            flex-wrap: wrap;

            .box{
                width:80%;
                margin:0px auto;
                margin-bottom:15px;
                text-align: left;
                padding-bottom: 5px;
                border: 1px solid #ccc;

               img{
                   width:100%;
               }

               p{
                   padding: 10px;
                   padding-bottom: 0px;
               }

               a{
                   text-decoration:none;
                   color: grey;
                   transition: all 300ms;
                   @extend p;

                   &:hover{
                       color:green;
                    }
                }

            }
        }
    }
}

@media(min-width:750px){
    .container{
        .main{
            .container-imgs{
                flex-direction:row;
                padding-top:initial;
                width:100%;

                .box{
                    width:40%;
                }
            }
            
        }
    }
}

@media(min-width:1200px){
    .container{
        .main{
            .container-imgs{
                .box{
                    width:200px;
                }
            }
            
        }
    }
}