$grayBorder:1px solid rgba(225, 225, 226, 0.8);
$grayShadow:0px 0px 10px #ccc;
$black-444:#444;
$white-eee: #eee;
$background-hover-menu:rgb(184, 183, 183);
$border-bottom-gray:1px solid rgba(225, 225, 226, 0.8);